<h3 class="display-4 text-center">Welcome, student!</h3>
<h4 class="text-center">Your Courses</h4>

<div class="container mt-3">
  <div class="row">

    <div class="card-deck d-flex justify-content-center">
      {{#each courses}}
      <div class="card m-1">
        <img class="card-img-top" src="{{image}}" alt="Card image cap" width="400">
        <div class="card-body">
          <h4 class="card-title">{{name}}</h4>
        </div>
        <div class="card-footer">

          <a class="btn btn-sm" href="/details/{{id}}">Details</a>
          <form action="/enroll/{{id}}" method="POST" class="btn btn-sm">
            <input type="submit" class="btn btn-sm" style=" color: rgb(190, 116, 4)" value="ENROLL NOW">
          </form>
        </div>
      </div>
      {{else}}


      <h5 style="text-align: center">You haven't signed up for any courses yet..<a href="/create"> add one now!</a>
      </h5>
    </div>
  </div>

  {{/each}}
</div>